<html>
    <head>

        <meta charset="utf-8">
        <title> README.md </title> 
        <link rel="icon" type="image/x-icon" href="/OS/folder-icon.ico">
        <!-- <link rel="stylesheet" href="../exhibit-landing.css">  -->
    </head>
     <body>
        <!-- <script defer type="text/javascript" src="exhibit-landing.js"></script> -->
        <style>
            body{
                background-color: rgb(255, 255, 255);
            }
            .txtContent{
                margin: 15px;
                padding-bottom: 15px;
                font-size: 13px;
                line-height: 1.7em;
                font-weight: 500;
                font-family: monospace;
                color: black;

                width: auto;
                height: auto;
            }
        </style>
        <script>
            window.addEventListener('resize', ()=>{ window.resizeTo(500, 500)});
            
        </script>
        
        <div class="txtContent"> 

        <br><br>
        - double click to open a file
        <br><br>
        - follow your intuition 
        <br><br>
        - have fun
        <br><br>
        - you don't need to know EVERYTHING about how to operate a file system --- just like how you probably have never fully understood the one on your own computer.
        <br><br>
        - speaking of which, why don't you also take a little wander in your local file system, dig some files that appear familiar to you but cannot recall the context, and share it with us by filling out this <a href="https://forms.gle/fSmUfW4oDkgnGmCH6">form</a>?
        <br>
        * Don't go too private, of course, since it will appear in a public space, after all. 

          
        </div>





</body>

</html>